<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/shadowing.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js" ></script>
  <script type="text/javascript" src="../public/js/client.js" ></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid pull-left">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1 id="record-message">Press Start Button.</h1>
  </div>
  <div class="container-fluid">
    <form>
      <a id="start-button" class="col-md-4 col-md-offset-4 btn btn-primary btn-lg" onClick="startRecording()">Start</a>
      <a id="stop-button" class="col-md-4 col-md-offset-4 btn btn-default btn-lg" onClick="stopRecording()">Stop</a>
    </form>
  </div>
</div>
</div>

</br>

<div class="container">
    <% if (results !== undefined) { %>
      <table class="table table-hover table-responsive">
        <thead>
            <tr class="table-primary">
                <th class="col-xs-1">id</th>
                <th class="col-xs-1">Date</th>
                <th class="col-xs-10">Text</th>
                <th class="col-xs-1">Delete</th>
            </tr>
        </thead>
        <tbody>
        <% results.forEach(function (result) { %>  
          <tr>
            <td><a href="/shadowing/select/<%= result.id %>"><%= result.id %></a></td>
            <td><%= result.date %></td>
            <td><%= result.text %></td>
            <td><a href="/shadowing/delete/<%= result.id %>" class="btn btn-danger">del</a></td>
          </tr>
        <% }) %>
        </tbody>
      </table>
    <% } %>
</div>

</body>
</html>